html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-x: hidden;
}

.footer, .section, .header-section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.section, .header-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
}

.header-section {
    padding: 3rem 0 10rem;
}

.section {
    padding: 6rem 0rem 10rem;
}

@media (max-width: 1023px) {
    .section {
        padding: 2rem 0 12rem;
    }
}

.footer-section {
    min-height: min-content;
    padding: 2rem 0rem 1rem;
}

@media (min-width: 640px) {
    .footer-section {
        min-height: 80vh;
    }
}